<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>React Soundboard</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/appStyle.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <h1>Add Audio File</h1>
  <section id="makeAudio">
    
  </section>
  <button id="premiumButton">Toggle Premium</button>
  <section id="premium">

  </section>
  <section id="audios">
    
  </section>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
