<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>React Soundboard</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/appStyle.css"/>
</head>
<body> 
  <nav>
    <a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink">React Soundboard</div>
  </nav>
  
  <section id="content">
    
  </section>
  <section id="link">
    
  </section>
  <section id="errorMessage"></section>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
