body {
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-color: #1E2122;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  background-color: #1E2122;
}

#errorMessage {
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
select,
.submit,
.formSubmit {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit,
.formSubmit {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.submit:hover,
.formSubmit:hover {
  background-color: #45a049;
}

.audioGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.audioItem {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

.audioName {
  margin-bottom: 10px;
}

audio {
  width: 100%;
}

.resetDeleteButtons {
  display: flex;
  justify-content: space-between;
}

.resetAudio,
.deleteAudio {
  flex-grow: 1;
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
}

.resetAudio {
  background-color: #3498db;
  color: #fff;
  margin-right: 5px;
}

.deleteAudio {
  background-color: #e74c3c;
  color: #fff;
  margin-left: 5px;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

#logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}


.navlink {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navlink a:hover {
  color: #ffcc00;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
}

#signupButton,
#loginButton,
#forgotPassword {
  text-decoration: none;
  color: blue;
  margin: 10px;
  transition: color 0.3s ease, cursor 0.3s ease;
}

#signupButton:hover,
#loginButton:hover,
#forgotPassword:hover {
  color: #3498db;
  cursor: pointer;
}